<h1><%=@week.name%></h1>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav">
<!--       <li class="active"><a href="#">Home</a></li>
 -->  
 			<li><a href="/my/weeks/1">Monday</a></li>
      <li><a href="/my/weeks/2">Tuesday</a></li>
      <li><a href="/my/weeks/3">Wednesday</a></li>
      <li><a href="/my/weeks/4">Thursday</a></li>
      <li><a href="/my/weeks/5">Friday</a></li>
		</ul>
  </div>
</div>