<div class="nav-shell">
	<%= render "shared/nav" %>
</div>

<div class = "teacher_bg">
	<div class = "container">
		<h1>Week: <%= @week.week_number %></h1>
		<%= render "my/shared/nav" %>
	</div>
</div>