// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert, .alert-success{
	position: absolute;
	width: 450px;
	top: 130px;
}
