// Place all the styles related to the my/weeks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.teacher_bg{
	background-image: url('teacher_bg.png');
	height: 1000px;
	width: 100%;
	margin-top: -20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(teacher_bg.png);
	color: white;
}

.nav_teacher{
	background-color: white;
	margin-top: 10px;
	margin-left: -20%;
	border-radius: 4px;
	margin-right: 10px;
	opacity: .7;
	padding: 10px;
}

